doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/flipclock.css')
    link(rel='stylesheet', href='/stylesheets/outerstyle.css')
   body
    block content
  include outerscripts
