script(src='/components/jquery/jquery.min.js')
script(src='/components/bootstrap/dist/js/bootstrap.min.js')
script(src='/components/underscore/underscore-min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDSCTmGCaO263UTc6WqUhppVjcV25DcfYY&libraries=places')
script(src='/javascripts/autonumeric.js')
script(src='/javascripts/moment.js')
script(src='/javascripts/flipclock.min.js')
script(src='/javascripts/outer.js')